MONGODB_CONNECTION_STRING="mongodb+srv://username:password@host/lessBackMagasin"
LOAD_PRODUCT="FALSE"
LOAD_AUTH_KEY="YOUR LOAD KEY"
PRODUCTS_FILE_NAME="produits.json"
ENSEIGNES_FILE_NAME="enseignes.json"

NOM_API_ENSEIGNE1="Leclerc"
NOM_API_ENSEIGNE2="Naturalia"
NOM_API_ENSEIGNE3="Monoprix"
NOM_API_ENSEIGNE4="Leaderprice"
